body {
  font-size: 22px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}


.container {
  width: 1201px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}



.card-info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-right: 40px;
}


h2 {
  text-align: center;
  font-size: 48px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.info {
  font-weight: bold;
  margin-bottom: 30px;
}

.info-index {
  font-weight: normal;
}

.img-box {
  display: flex;

}

.list {
  padding: 0px;
  margin: 0px;
}